In [1]:
import pandas as pd
import glob

In [2]:
meta = pd.read_csv("Meta.csv")
meta

   UID  AGE GENDER  TSST  SSST GalaxyWatch
0  P02   25      M     5     6           R
1  P03   26      M     4     6           L
2  P04   25      F     5     6           R
3  P05   23      M     5     6           L
4  P06   24      M     3     5           R

In [4]:
hr_files = sorted(glob.glob("HR*.csv"))

dfs = []

for file in hr_files:
    df = pd.read_csv(file)
    
    # subject_id üret
    subject_num = file.replace("HR", "").replace(".csv", "")
    subject_id = f"P{subject_num.zfill(2)}"
    
    df["UID"] = subject_id
    
    dfs.append(df)

hr_all = pd.concat(dfs, ignore_index=True)
hr_all.head(50)

,dataReceived,timestamp,hr,hrStatus,ibi,ibiStatus,UID
0,1710811991708,1710811991437,0,0,[],[],P02
1,1710811992722,1710811992440,0,0,[],[],P02
2,1710811993738,1710811993443,0,0,[],[],P02
3,1710812101059,1710811994739,0,0,"[632,621,645,675,669,659,672,671,686,681,260,7...","[0,0,0,0,0,0,0,0,-1,-1,-1,-1,-1,0,0,0,-1,-1,-1...",P02
4,1710812101059,1710811995739,0,0,[],[],P02
5,1710812101059,1710811996739,0,0,[],[],P02
6,1710812101059,1710811997739,0,0,[],[],P02
7,1710812101059,1710811998739,0,0,[],[],P02
8,1710812101059,1710811999739,0,0,[],[],P02
9,1710812101059,1710812000739,0,0,[],[],P02
10,1710812101059,1710812001739,0,0,[],[],P02
11,1710812101059,1710812002739,0,0,[],[],P02
12,1710812101059,1710812003739,0,0,[],[],P02
13,1710812101059,1710812004739,0,0,[],[],P02
14,1710812101059,1710812005739,0,0,[],[],P02
15,1710812101059,1710812006739,0,0,[],[],P02
16,1710812101059,1710812007739,0,0,[],[],P02
17,1710812101059,1710812008739,0,0,[],[],P02
18,1710812101059,1710812009739,0,0,[],[],P02
19,1710812101059,1710812010739,0,0,[],[],P02
20,1710812101059,1710812011739,0,0,[],[],P02
21,1710812101059,1710812012739,0,0,[],[],P02
22,1710812101059,1710812013739,0,0,[],[],P02
23,1710812101059,1710812014739,0,0,[],[],P02
24,1710812101059,1710812015739,0,0,[],[],P02
25,1710812101059,1710812016739,0,0,[],[],P02
26,1710812101059,1710812017739,87,1,[],[],P02
27,1710812101059,1710812018739,87,1,[],[],P02
28,1710812101059,1710812019739,86,1,[],[],P02
29,1710812101059,1710812020739,86,1,[],[],P02
30,1710812101059,1710812021739,84,1,[],[],P02
31,1710812101059,1710812022739,85,1,[],[],P02
32,1710812101059,1710812023739,84,1,[],[],P02
33,1710812101059,1710812024739,84,1,[],[],P02
34,1710812101059,1710812025739,86,1,[],[],P02
35,1710812101059,1710812026739,87,1,[],[],P02
36,1710812101059,1710812027739,86,1,[],[],P02
37,1710812101059,1710812028739,85,1,[],[],P02
38,1710812101059,1710812029739,85,1,[],[],P02
39,1710812101059,1710812030739,84,1,[],[],P02
40,1710812101059,1710812031739,83,1,[],[],P02
41,1710812101059,1710812032739,81,1,[],[],P02
42,1710812101059,1710812033739,80,1,[],[],P02
43,1710812101059,1710812034739,79,1,[],[],P02
44,1710812101059,1710812035739,79,1,[],[],P02
45,1710812101059,1710812036739,81,1,[],[],P02
46,1710812101059,1710812037739,81,1,[],[],P02
47,1710812101059,1710812038739,83,1,[],[],P02
48,1710812101059,1710812039739,84,1,[],[],P02
49,1710812101059,1710812040739,85,1,[],[],P02

In [5]:
hr_all.columns = [c.lower() for c in hr_all.columns]

# Olası isimleri normalize et
if "hr" in hr_all.columns:
    hr_all = hr_all.rename(columns={"hr": "heart_rate"})

In [6]:
df = hr_all.merge(meta, on="UID", how="left")
df.head()

KeyError: 'UID'

In [7]:
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
/var/folders/sv/p_c6s9552vd0yxlcd0_ndbhh0000gn/T/ipykernel_1468/606601728.py in ?()
----> 1 df = hr_all.merge(meta, on="UID", how="left")
      2 df.head()

/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/pandas/core/frame.py in ?(self, right, how, on, left_on, right_on, left_index, right_index, sort, suffixes, copy, indicator, validate)
  10855         validate: MergeValidate | None = None,
  10856     ) -> DataFrame:
  10857         from pandas.core.reshape.merge import merge
  10858 
> 10859         return merge(
  10860             self,
  10861             right,
  10862             how=how,

/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/pandas/core/reshape/merge.py in ?(left, right, how, on, left_on, right_on, left_index, right_index, sort, suffixes, copy, indicator, validate)
    166             validate=validate,
    167             copy=copy,
    168         )
    169     else:
--> 170         op = _MergeOperation(
    171             left_df,
    172             right_df,
    173             how=how,

/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/pandas/core/reshape/merge.py in ?(self, left, right, how, on, left_on, right_on, left_index, right_index, sort, suffixes, indicator, validate)
    790             self.right_join_keys,
    791             self.join_names,
    792             left_drop,
    793             right_drop,
--> 794         ) = self._get_merge_keys()
    795 
    796         if left_drop:
    797             self.left = self.left._drop_labels_or_levels(left_drop)

/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/pandas/core/reshape/merge.py in ?(self)
   1307                     if lk is not None:
   1308                         # Then we're either Hashable or a wrong-length arraylike,
   1309                         #  the latter of which will raise
   1310                         lk = cast(Hashable, lk)
-> 1311                         left_keys.append(left._get_label_or_level_values(lk))
   1312                         join_names.append(lk)
   1313                     else:
   1314                         # work-around for merge_asof(left_index=True)

/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/pandas/core/generic.py in ?(self, key, axis)
   1910             values = self.xs(key, axis=other_axes[0])._values
   1911         elif self._is_level_reference(key, axis=axis):
   1912             values = self.axes[axis].get_level_values(key)._values
   1913         else:
-> 1914             raise KeyError(key)
   1915 
   1916         # Check for duplicates
   1917         if values.ndim > 1:

KeyError: 'UID'

SyntaxError: invalid decimal literal (4094026607.py, line 3)

In [8]:
print("hr_all columns:", hr_all.columns.tolist())
print("meta columns:", meta.columns.tolist())

hr_all columns: ['datareceived', 'timestamp', 'heart_rate', 'hrstatus', 'ibi', 'ibistatus', 'uid']
meta columns: ['UID', 'AGE', 'GENDER', 'TSST', 'SSST', 'GalaxyWatch']

In [9]:
# uid kolonunu UID yap
hr_all = hr_all.rename(columns={"uid": "UID"})

# merge
df = hr_all.merge(meta, on="UID", how="left")

df.head()

,datareceived,timestamp,heart_rate,hrstatus,ibi,ibistatus,UID,AGE,GENDER,TSST,SSST,GalaxyWatch
0,1710811991708,1710811991437,0,0,[],[],P02,25,M,5,6,R
1,1710811992722,1710811992440,0,0,[],[],P02,25,M,5,6,R
2,1710811993738,1710811993443,0,0,[],[],P02,25,M,5,6,R
3,1710812101059,1710811994739,0,0,"[632,621,645,675,669,659,672,671,686,681,260,7...","[0,0,0,0,0,0,0,0,-1,-1,-1,-1,-1,0,0,0,-1,-1,-1...",P02,25,M,5,6,R
4,1710812101059,1710811995739,0,0,[],[],P02,25,M,5,6,R

In [10]:
df["UID"] = df["UID"].astype(str).str.upper().str.strip()
df["UID"] = df["UID"].str.replace(r"^P(\d)$", r"P0\1", regex=True)  # P2 -> P02

meta["UID"] = meta["UID"].astype(str).str.upper().str.strip()

df = df.drop(columns=["AGE","GENDER","TSST","SSST","GalaxyWatch"], errors="ignore").merge(meta, on="UID", how="left")
df.head()

,datareceived,timestamp,heart_rate,hrstatus,ibi,ibistatus,UID,AGE,GENDER,TSST,SSST,GalaxyWatch
0,1710811991708,1710811991437,0,0,[],[],P02,25,M,5,6,R
1,1710811992722,1710811992440,0,0,[],[],P02,25,M,5,6,R
2,1710811993738,1710811993443,0,0,[],[],P02,25,M,5,6,R
3,1710812101059,1710811994739,0,0,"[632,621,645,675,669,659,672,671,686,681,260,7...","[0,0,0,0,0,0,0,0,-1,-1,-1,-1,-1,0,0,0,-1,-1,-1...",P02,25,M,5,6,R
4,1710812101059,1710811995739,0,0,[],[],P02,25,M,5,6,R

In [12]:
# sadece gerekli kolonlar (meta + hr)
keep = ["UID", "timestamp", "heart_rate", "AGE", "GENDER", "TSST", "SSST", "GalaxyWatch"]
df2 = df[keep].copy()

df2.head()

   UID      timestamp  heart_rate  AGE GENDER  TSST  SSST GalaxyWatch
0  P02  1710811991437           0   25      M     5     6           R
1  P02  1710811992440           0   25      M     5     6           R
2  P02  1710811993443           0   25      M     5     6           R
3  P02  1710811994739           0   25      M     5     6           R
4  P02  1710811995739           0   25      M     5     6           R

In [13]:
df2["timestamp"] = pd.to_numeric(df2["timestamp"], errors="coerce")
df2["heart_rate"] = pd.to_numeric(df2["heart_rate"], errors="coerce")

df2.isna().mean()

UID            0.0
timestamp      0.0
heart_rate     0.0
AGE            0.0
GENDER         0.0
TSST           0.0
SSST           0.0
GalaxyWatch    0.0
dtype: float64

In [14]:
df2 = df2.dropna(subset=["timestamp", "heart_rate"])

# 0 değerleri büyük ihtimalle invalid/boş ölçüm
df2 = df2[df2["heart_rate"] > 0]

# fizyolojik aralık filtresi
df2 = df2[(df2["heart_rate"] >= 30) & (df2["heart_rate"] <= 220)]

df2.describe()

          timestamp    heart_rate           AGE          TSST          SSST
count  1.690300e+04  16903.000000  16903.000000  16903.000000  16903.000000
mean   1.710894e+12     81.591374     24.593267      4.384784      5.793173
std    8.352921e+07     14.136810      1.022719      0.806485      0.405042
min    1.710812e+12     53.000000     23.000000      3.000000      5.000000
25%    1.710827e+12     74.000000     24.000000      4.000000      6.000000
50%    1.710834e+12     78.000000     25.000000      5.000000      6.000000
75%    1.710989e+12     84.500000     25.000000      5.000000      6.000000
max    1.711004e+12    167.000000     26.000000      5.000000      6.000000

In [15]:
# milisaniye mi saniye mi otomatik anlayalım
unit = "ms" if df2["timestamp"].median() > 1e11 else "s"
df2["datetime"] = pd.to_datetime(df2["timestamp"], unit=unit, errors="coerce")

df2 = df2.dropna(subset=["datetime"])
df2 = df2.sort_values(["UID", "datetime"])

df2[["UID","datetime","heart_rate"]].head()

    UID                datetime  heart_rate
26  P02 2024-03-19 01:33:37.739          87
27  P02 2024-03-19 01:33:38.739          87
28  P02 2024-03-19 01:33:39.739          86
29  P02 2024-03-19 01:33:40.739          86
30  P02 2024-03-19 01:33:41.739          84

In [16]:
df2.to_csv("galaxywatch_hr_clean_final.csv", index=False)

In [17]:
df2["heart_rate"].value_counts().head(10)

heart_rate
77    1034
75    1014
78     994
76     976
79     900
74     844
73     819
80     770
72     696
81     693
Name: count, dtype: int64

In [18]:
print("Rows:", len(df2))
print("Unique subjects:", df2["UID"].nunique())
print(df2.groupby("UID")["heart_rate"].agg(["count","mean","min","max"]).round(2))

Rows: 16903
Unique subjects: 5
     count   mean  min  max
UID
P02   3198  81.85   61  159
P03   3407  81.55   60  141
P04   3409  81.97   53  167
P05   3393  82.79   66  161
P06   3496  79.86   60  166